@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-brand-blue: #2029bf;
  --color-brand-navy: #0f1359;
  --color-secondary: #1f2937;
  --color-sparkle-border: #8bbef9;
  --color-dull-text: #3a3541;
  --color-mockup-bg: #d9d9d9;
  --color-mockup-user: #eff6ff;
  --bg-brand-gradient: linear-gradient(
    to right,
    var(--color-brand-navy),
    var(----color-brand-blue)
  );

  /* Define your fonts */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Add those soft shadows from the screenshots */
  --shadow-soft: 0 4px 20px -2px rgba(93, 95, 239, 0.15);
  /* --color-gradient: bg-linear-to-b from-brand-navy to-brand-blue; */
}

@layer base {
  /* body {
    @apply bg-[#F9FAFB] text-slate-900 antialiased;
  } */
}

@layer utilities {
  .bg-brand-gradient {
    background: linear-gradient(to right, #0f1359, #2029bf);
  }

  .bg-page-gradient {
    background: linear-gradient(to bottom, #eff6ff, #ffffff, #eef2ff);
  }
  .text-brand-gradient {
    background: linear-gradient(
      to bottom,
      var(--color-brand-navy),
      var(--color-brand-blue)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* for non-webkit browsers */
    color: transparent;
  }
}

/* Custom Utilities */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}
